body {
	color:#333333;
	background-color: #bdffee;
}

h1 {
	background: url('../img/PierreFoucart-logo.png') no-repeat top left;
	background-size: contain;
    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 60pt;
}

ul {
	float: left;
}

ul li {
	list-style: none;
	margin-right: 30pt;
}

p {
	margin: 30pt 0 10pt 0;
}

button.btn, button.btn:hover, button.btn:active {
	font-weight: normal;
	color: #4078c0;
	padding: 3px 5px;
}
button.btn:hover {
}
