body {
	color:#2359EC;
	padding: 15pt 15pt;
	font-size: 20px;
}


h1 {
	color: #EC4949;
	font-size: 56px;
	line-height: 48px;
    margin-top: 15px;
    margin-bottom: 10px;
}

h2, h3, h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.1;
}
h2 {
	margin: 30pt 0 10pt 0;
    font-size: 14px;
    color: #101A4D;
    text-transform: uppercase;
}
strong {
    font-weight: 500;}
small {
    font-size: 90%}
.job-description {
    margin-top: 15px;
	font-size: 14px;
}
.lead {
    margin: 20pt 0 10pt 0;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
}
ul, ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
ol ol, ul ol {
    list-style-type: lower-roman;
}

ul {
	float: left;
}

ul li {
	list-style: none;
	margin-right: 30pt;
}

p {
	margin: 10pt 0 10pt 0;
}

.client-list ul {
    -webkit-columns: 4 180px;
       -moz-columns: 4 180px;
            columns: 4 180px;
    -webkit-column-gap: 3em;
       -moz-column-gap: 3em;
            column-gap: 3em;
 /*   -webkit-column-rule: 1px dotted #ddd;
       -moz-column-rule: 1px dotted #ddd;
            column-rule: 1px dotted #ddd;*/
    font-size: 14px;
}

button.btn, button.btn:hover, button.btn:active {
	font-weight: normal;
	color: #4078c0;
	padding: 3px 5px;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}

.client-list .btn-link {
    font-size: 14px;
	margin-top: 1em;
	padding-left: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
a {
    color: #4078c0;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
hr, .rule {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}
hr:before, .rule:before {
    display: table;
    content: ""}
hr:after, .rule:after {
    display: table;
    clear: both;
    content: ""}
    
.container:before {
    display: table;
    content: ""}
.container:after {
    display: table;
    clear: both;
    content: ""}
.columns {
    margin-right: -10px;
    margin-left: -10px;
}
.columns:before {
    display: table;
    content: ""}
.columns:after {
    display: table;
    clear: both;
    content: ""}
.column {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}
.contact {
	background-image: url("img/pierre_foucart_2015_bw.png");
	background-position: right center;
	background: no-repeat;
}

/* Tooltip CSS */
.btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}
.btn:focus {
    text-decoration: none;
    border-color: #51a7e8;
    outline: none;
}
.btn:focus:hover, .btn.selected:focus {
    border-color: #51a7e8;
}
.btn:hover, .btn:active {
    text-decoration: none;
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc;
}
.btn:active {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.btn:disabled, .btn:disabled:hover, .btn.disabled, .btn.disabled:hover {
    color: rgba(102, 102, 102, 0.5);
    cursor: default;
    background-color: rgba(229, 229, 229, 0.5);
    background-image: none;
    border-color: rgba(197, 197, 197, 0.5);
    box-shadow: none;
}
.state {
    display: inline-block;
    padding: 4px 8px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    background-color: #999;
}
.state-open, .state-proposed, .state-reopened {
    background-color: #6cc644;
}
.state-merged {
    background-color: #6e5494;
}
.state-closed {
    background-color: #bd2c00;
}
.state-renamed {
    background-color: #fffa5d;
}
.tooltipped {
    position: relative;
}
.tooltipped:after {
    position: absolute;
    z-index: 1000000;
    display: none;
    padding: 5px 8px;
    font: normal normal 11px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: break-word;
    white-space: pre;
    pointer-events: none;
    content: attr(aria-label);
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
}
.tooltipped:before {
    position: absolute;
    z-index: 1000001;
    display: none;
    width: 0;
    height: 0;
    color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    content: "";
    border: 5px solid transparent;
}
.tooltipped:hover:before, .tooltipped:hover:after, .tooltipped:active:before, .tooltipped:active:after, .tooltipped:focus:before, .tooltipped:focus:after {
    display: inline-block;
    text-decoration: none;
}
.tooltipped-multiline:hover:after, .tooltipped-multiline:active:after, .tooltipped-multiline:focus:after {
    display: table-cell;
}
.tooltipped-s:after, .tooltipped-se:after, .tooltipped-sw:after {
    top: 100%;
    right: 50%;
    margin-top: 5px;
}
.tooltipped-s:before, .tooltipped-se:before, .tooltipped-sw:before {
    top: auto;
    right: 50%;
    bottom: -5px;
    margin-right: -5px;
    border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-se:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}
.tooltipped-sw:after {
    margin-right: -15px;
}
.tooltipped-n:after, .tooltipped-ne:after, .tooltipped-nw:after {
    right: 50%;
    bottom: 100%;
    margin-bottom: 5px;
}
.tooltipped-n:before, .tooltipped-ne:before, .tooltipped-nw:before {
    top: -5px;
    right: 50%;
    bottom: auto;
    margin-right: -5px;
    border-top-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-ne:after {
    right: auto;
    left: 50%;
    margin-left: -15px;
}
.tooltipped-nw:after {
    margin-right: -15px;
}
.tooltipped-s:after, .tooltipped-n:after {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
.tooltipped-w:after {
    right: 100%;
    bottom: 50%;
    margin-right: 5px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
.tooltipped-w:before {
    top: 50%;
    bottom: 50%;
    left: -5px;
    margin-top: -5px;
    border-left-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-e:after {
    bottom: 50%;
    left: 100%;
    margin-left: 5px;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
}
.tooltipped-e:before {
    top: 50%;
    right: -5px;
    bottom: 50%;
    margin-top: -5px;
    border-right-color: rgba(0, 0, 0, 0.8);
}
.tooltipped-multiline:after {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 250px;
    word-break: break-word;
    word-wrap: normal;
    white-space: pre-line;
    border-collapse: separate;
}
.tooltipped-multiline.tooltipped-s:after, .tooltipped-multiline.tooltipped-n:after {
    right: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.tooltipped-multiline.tooltipped-w:after, .tooltipped-multiline.tooltipped-e:after {
    right: 100%}
@media screen and (min-width: 0\0) {
    .tooltipped-multiline: after {
    width: 250px;
}
}.tooltipped-sticky:before, .tooltipped-sticky:after {
    display: inline-block;
}
.tooltipped-sticky.tooltipped-multiline:after {
    display: table-cell;
}

